<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="uO1abaIzpu1Bw4MPsSvpawEWR1ls8fmZ8uJCFwkn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title ?? site:name }} - Package pages Blog</title>

    <meta name="description" content="{{seo_description ?? 'PackagePages blog website, The information source for Laravel and package development for Laravel.' }}">
    <meta name="keywords" content="{{ seo_keywords }}{{ value }},{{ /seo_keywords }}">
    <meta property="og:title" content="{{seo_og_title ?? title ?? site:name }}"/>
    <meta property="og:description" content="{{seo_og_description ?? seo_description ?? 'PackagePages blog website, The information source for Laravel and package development for Laravel.'}}"/>
    <meta property="og:image" content="http://packagepages.dev/assets/og-image.png"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@packagepages"/>
    <meta name="twitter:image" content="http://packagepages.dev/assets/og-image.png"/>
    <script type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Package Pages",
        "description": "{{seo_og_description ?? seo_description ?? 'PackagePages blog website, The information source for Laravel and package development for Laravel.'}}"
    }</script>

    <link rel="icon" href="https://packagepages.dev/img/box.svg">
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500;700&display=swap"
        rel="stylesheet">

    {{ if environment === 'production' }}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8KEBLDXJ4Z"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-8KEBLDXJ4Z');
        </script>
    {{ /if }}
</head>

<body>
{{ template_content }}

<script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>

