<div class="font-mono antialiased bg-neutral-900">
    <div class="flex items-center min-h-screen p-6 sm:justify-center sm:px-0">
        <div class="space-y-8">
            {{ partial:logo }}

            <div class="text-lg text-left text-white sm:text-xl max-w-prose mx-auto space-y-4">
                {{content}}

                {{ entries paginate="5" }}
                    <ul class="list-disc">
                        {{ results }}
                        <li>
                            <a href="{{ url }}">{{ title }}</a>
                        </li>
                        {{ /results }}
                    </ul>
                {{ /entries }}
            </div>

            {{ partial:cta }}
        </div>
    </div>
</div>
