<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai-sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<div class="font-mono antialiased bg-neutral-900">
    <div class="flex items-center flex-col min-h-screen p-6 sm:justify-center sm:px-0">
        <div class="max-w-prose mx-auto space-y-8">
            {{ partial:logo }}

            <div class="tutorial-container">
                {{ content }}
            </div>
        </div>
    </div>
</div>
