<div class="font-mono antialiased bg-neutral-900">
    <div class="flex items-center min-h-screen p-6 sm:justify-center sm:px-0">
        <div class="space-y-8">
            {{ partial:logo }}
            {{ partial:tags }}

            <div class="md:text-lg text-left text-white sm:text-xl max-w-[80vw] md:max-w-prose mx-auto">
                {{ content | widont:0 }}
            </div>
            <ol class="space-y-4">
                {{listicles_replicator}}
                    <li>
                        <h2 class="text-3xl text-left text-white max-w-prose mx-auto flex" id="{{listicle_title | widont:0 | ucfirst}}">
                            <a href="{{current_url}}#{{listicle_title | widont:0 | ucfirst}}" class="flex items-center mr-2">
                                {{ partial:link_icon }}
                                {{index}}.
                            </a>
                            <a href="{{listicle_link}}" class="break-all">
                                 {{ listicle_title | widont:0 | ucfirst }}
                            </a>
                        </h2>
                        <div class="listicle-image flex items-center justify-center">
                            {{ listicle_assets }}
                                <img src="{{ url }}" alt="{{ alt }}" class="py-4 max-w-[80vw] lg:max-w-prose">
                            {{ /listicle_assets }}
                        </div>
                        <div class="listicle-markdown">
                            {{ listicle_markdown | widont:0 }}
                        </div>
                        <span class="max-w-[80vw]">
                            <a href="{{listicle_link}}" class="text-white flex items-center break-all">
                                {{ partial:link_icon }}
                                {{listicle_link}}
                            </a>
                        </span>
                    </li>
                {{/listicles_replicator}}
            </ol>
            <div class="text-lg text-left text-white sm:text-xl max-w-prose mx-auto">
                <h2 class="text-4xl" id="Conclussion">
                    <a href="{{current_url}}#Conclussion" class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                        </svg>
                        Conclussion
                    </a>
                </h2>
                {{listicle_conclussion}}
            </div>

            {{ partial:cta }}
        </div>
    </div>
</div>
