<div class="font-mono antialiased bg-neutral-900">
    <div class="flex items-center flex-col min-h-screen p-6 sm:justify-center sm:px-0">
        <div class="max-w-lg mx-auto space-y-8">
            {{ partial:logo }}

            <div class="text-lg text-center text-white sm:text-xl">
                {{ content | widont }}
            </div>
        </div>
        <div class="max-w-4xl grid md:grid-cols-3 gap-8 mt-4">
            <div class="text-lg text-center text-white sm:text-xl">
                <h2 class="mb-4">Listicles</h2>
                {{ partial:listicles_nav }}
            </div>

            <div class="text-lg text-center text-white sm:text-xl">
                <h2 class="mb-4">Tutorials</h2>
                {{ partial:tutorials_nav }}
            </div>

            <div class="text-lg text-center text-white sm:text-xl">
                <h2 class="mb-4">Blog</h2>
                {{ partial:blog_nav }}
            </div>
        </div>
    </div>
</div>
